* {
	font-family: Courier;
}

#title {
	text-align: center;
}

.content {
	margin: 50px;
	padding: 20px;
}

body {
	background-color: rgba(71, 86, 161, 0.5);
}

img {
	width: 100%;
	height: 100;
}

#importantPollutionPage {
	text-align: center;
	font-family: Consolas;
	color: red;
}

#keywords {
	text-align: center;
}

h1 {
	color: green;
}

.weddef {
	color: red;
	text-align: center;
}

a:link {
	color: red;
}

a:visited {
	color: red;
}

.def {
	text-align:center;
}